body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light background color */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
  }
  
  #menu {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 150px;
    height: auto;
  }
  
  .receipt-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px; /* More rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Stronger shadow */
    width: 400px; /* Adjust width as needed */
    text-align: center;
  }
  
  .receipt-title {
    font-size: 24px; /* Adjust size as needed */
    color: #333;
    margin-bottom: 10px;
  }
  
  #confirmation-message {
    font-size: 18px; /* Adjust size as needed */
    color: lightcoral; 
    margin-bottom: 20px;
    text-align: left;
  }
  
  .order-summary {
    font-size: 20px; /* Adjust size as needed */
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  #receipt-items {
    text-align: left; /* Align order items to the left */
    margin-bottom: 15px;
  }
  
  #receipt-items li {
    margin-bottom: 5px; /* Add spacing between items */
  }
  
  #total-amount {
    font-weight: bold;
  }
  
  .receipt-details p {
    margin: 5px 0; /* Add spacing between details */
  }
  
  .home-button {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: lightcoral; 
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  .home-button:hover {
    background-color: #3e8e41; /* Darker green on hover */
  }
  .logo {
    max-width: 200px; /* Or whatever size you prefer */
    height: 200px;     /* Let the height adjust proportionally */
    object-fit: contain;
  }